<div id="sectionHero">
  <div class="hero">
    <div class="card">
      <div class="item front-side">
        <picture>
          <source srcset="/images/marcos.avif" type="image/avif" />
          <source srcset="/images/marcos.webp" type="image/webp" />
          <img
            src="/images/marcos.jpg"
            alt="Marcos de Miguel (dragoncillos)"
            width="250"
            height="250"
          />
        </picture>
      </div>
      <div class="item back-side">
        <picture>
          <source srcset="/images/playa.avif" type="image/avif" />
          <source srcset="/images/playa.webp" type="image/webp" />
          <img
            src="/images/playa.jpg"
            alt="Marcos de Miguel (dragoncillos) en la playa"
            width="250"
            height="250"
          />
        </picture>
      </div>
    </div>
    <p><strong>Marcos de Miguel</strong></p>
    <p>Diseñador y programador web - WCAG 2.2 - SEO - SEM - Marketing social</p>
  </div>
</div>
