<section id="proyectos">
  <h2>Projects</h2>
  <div class="proyecto">
    <a
      href="http://www.aleceia.com/"
      title="Visit Aleceia de Juan MCIL, MA, DPSI"
    >
      <picture>
        <source srcset="/images/aleceia.v2.avif" type="image/avif" />
        <source srcset="/images/aleceia.v2.webp" type="image/webp" />
        <img
          src="/images/aleceia.v2.jpg"
          class="img-responsive"
          alt="Screenshot from Aleceia's website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>
      Aleceia de Juan MCIL, MA, DPSI. Interpreting and Translation Services
    </h3>
    <p>
      Website of Aleceia de Juan MCIL, MA, DPSI built with <strong>Astro</strong
      >
    </p>
    <ul class="item-details">
      <li>
        Client:
        <strong>Aleceia de Juan</strong>
      </li>
      <li>
        Services: <strong>Graphic design, web development, SEO</strong>, website
        conforms to the W3C <strong>WCAG 2.2 Level AA</strong>,
        <strong>WPO</strong> (Web Performance Optimization)
      </li>
      <li>
        <strong
          ><a href="http://www.aleceia.com/"
            >Visit Aleceia de Juan MCIL, MA, DPSI website</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.julioserrano.es/libro-pedriza/"
      title="Visit La Pedriza"
      hreflang="es"
    >
      <picture>
        <source srcset="/images/libro-pedriza.avif" type="image/avif" />
        <source srcset="/images/libro-pedriza.webp" type="image/webp" />
        <img
          src="/images/libro-pedriza.jpg"
          class="img-responsive"
          alt="Screenshot of La Pedriza website (in Spanish)"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Book of the Pedriza photographs</h3>
    <p>
      Landing page of the book La Pedriza - Sierra de Guadarrama with 88
      photographs by Julio Serrano.
    </p>
    <ul>
      <li>
        Client:
        <strong>Julio Serrano</strong>
      </li>
      <li>
        Services:
        <strong>Graphic design, web development</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.julioserrano.es/libro-pedriza/" hreflang="es"
            >Visit La Pedriza website (in Spanish)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.glykia.com"
      hreflang="fr"
      title="Visit Glykia (in French)"
    >
      <picture>
        <source srcset="/images/glykia.avif" type="image/avif" />
        <source srcset="/images/glykia.webp" type="image/webp" />
        <img
          src="/images/glykia.jpg"
          class="img-responsive"
          alt="Screenshot of Glykia website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Glykia</h3>
    <p>
      Glykia De Juan website built using WordPress 6.x, Twenty Twenty-Two theme
      and Gutenberg blocks.
    </p>
    <ul>
      <li>
        Client:
        <strong>Glykia de Juan</strong>
      </li>
      <li>
        Services: <strong>Graphic design, web development, SEO</strong>, website
        conforms to the W3C <strong>WCAG 2.2 Level AA</strong>,
        <strong>WPO</strong> (Web Performance Optimization)
      </li>
      <li>
        <strong
          ><a href="https://www.glykia.com" hreflang="fr"
            >Visit Glykia (in French)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.rehabilitadesdecasa.com/"
      title="Visit Rehabilita desde casa (in Spanish)"
      hreflang="es"
    >
      <picture>
        <source srcset="/images/rehabilitadesdecasa.avif" type="image/avif" />
        <source srcset="/images/rehabilitadesdecasa.webp" type="image/webp" />
        <img
          src="/images/rehabilitadesdecasa.jpg"
          class="img-responsive"
          alt="Screenshot of Rehabilita desde casa website"
          width="750"
          height="493"
          loading="lazy"
        />
      </picture>
    </a>
    <h3 lang="es">Rehabilita Desde Casa</h3>
    <p>
      Online rehabilitation website for cardiac, respiratory, oncological and
      rheumatological patients. Website built using WordPress and Divi Child.
    </p>
    <ul>
      <li>
        Client:
        <strong>Mercedes Coello</strong>
      </li>
      <li>
        Services: <strong>Graphic design, web development, SEO</strong>, website
        conforms to the W3C
        <strong>WCAG 2.1 Level AA. Online payments</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.rehabilitadesdecasa.com/" hreflang="es"
            >Visit Rehabilita desde casa (in Spanish)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.lolini.es"
      title="Visit Lolini (in Spanish)"
      hreflang="es"
    >
      <picture>
        <source srcset="/images/lolini.avif" type="image/avif" />
        <source srcset="/images/lolini.webp" type="image/webp" />
        <img
          src="/images/lolini.jpg"
          class="img-responsive"
          alt="Screenshot of Lolini website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3 lang="es">Lolini: yogures y alimentos artesanos</h3>
    <p>
      Web where Lolini shows its own natural products. Website built using
      WordPress and Twenty Sixteen Child.
    </p>
    <ul>
      <li>
        Client:
        <strong>Lolini</strong>
      </li>
      <li>
        Services: <strong>Graphic design, web development, SEO</strong>, website
        conforms to the W3C <strong>WCAG 2.1 Level AA</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.lolini.es" hreflang="es"
            >Visit Lolini (in Spanish)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a href="https://www.euromabnet.com" title="Visit EuroMAbNet">
      <picture>
        <source srcset="/images/euromabnet.avif" type="image/avif" />
        <source srcset="/images/euromabnet.webp" type="image/webp" />
        <img
          src="/images/euromabnet.jpg"
          class="img-responsive"
          alt="Screenshot of EuroMAbNet website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>EuroMAbNet</h3>
    <p>
      European Monoclonal Antibodies Network (EuroMAbNet) website with a
      customize content manager.
    </p>
    <ul>
      <li>
        Client:
        <strong>European Monoclonal Antibodies Network</strong>
      </li>
      <li>
        Services:
        <strong>Graphic design, web development (PHP), SEO consulting</strong>, <strong
          >request forms</strong
        > and
        <strong>online payments (credit card, PayPal, Stripe)</strong>
        with WordPress form builder plugins Caldera Forms and WPForms:
        <a href="https://www.euromabnet.com/events/">EuroMAbNet Meeting forms</a
        >. <strong>Social networks</strong>
        <a href="https://www.facebook.com/euromabnet">EuroMAbNet Facebook</a>
        and
        <a href="https://www.youtube.com/euromabnet">EuroMAbNet YouTube</a>
      </li>
      <li>
        <strong
          ><a href="https://www.euromabnet.com">Visit EuroMAbNet</a></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.parquenavasdelrey.org/"
      title="Visit Parque Navas del Rey (in Spanish)"
      hreflang="es"
    >
      <picture>
        <source srcset="/images/parquenavasdelrey.avif" type="image/avif" />
        <source srcset="/images/parquenavasdelrey.webp" type="image/webp" />
        <img
          src="/images/parquenavasdelrey.jpg"
          class="img-responsive"
          alt="Screenshot of Parque Navas del Rey website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Parque Navas del Rey</h3>
    <p>
      Parque Navas del Rey association website built using Joomla 5.x content
      management system.
    </p>
    <ul>
      <li>
        Client:
        <strong>Asociación Parque Navas del Rey</strong>
      </li>
      <li>
        Services:
        <strong>Graphic design, web development</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.parquenavasdelrey.org/" hreflang="es"
            >Visit Parque Navas del Rey (in Spanish)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/robertocanzobre.avif" type="image/avif" />
      <source srcset="/images/robertocanzobre.webp" type="image/webp" />
      <img
        src="/images/robertocanzobre.jpg"
        class="img-responsive"
        alt="Screenshot of Roberto Canzobre website"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Roberto Canzobre - Abogado</h3>
    <p>
      Roberto Canzobre website of his project "adaptándonos". Website built
      using WordPress and Divi Child.
    </p>
    <ul>
      <li>
        Client:
        <strong>Roberto Canzobre</strong>
      </li>
      <li>
        Services: <strong>Graphic design, web development, SEO</strong>, website
        conforms to the W3C <strong>WCAG 2.1 Level AA</strong>
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/zumbaensegovia.avif" type="image/avif" />
      <source srcset="/images/zumbaensegovia.webp" type="image/webp" />
      <img
        src="/images/zumbaensegovia.jpg"
        class="img-responsive"
        alt="Screenshot of Zumba en Segovia website"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Zumba en Segovia</h3>
    <p>
      Carmen Martín website built using Joomla 1.5 content management system.
    </p>
    <ul>
      <li>
        Client:
        <strong>Carmen Martín</strong>
      </li>
      <li>
        Services:
        <strong>Upgrade Joomla 1.x -&gt; 2.5 -&gt; 3.x, web development</strong>
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.cnio.es"
      title="Visit Spanish National Cancer Research Centre"
    >
      <picture>
        <source srcset="/images/cnio.avif" type="image/avif" />
        <source srcset="/images/cnio.webp" type="image/webp" />
        <img
          src="/images/cnio.jpg"
          class="img-responsive"
          alt="Screenshot of CNIO website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Spanish National Cancer Research Centre</h3>
    <p>
      Corporate website of Spanish National Cancer Research Centre (CNIO) in two
      languages with a customize content manager. Each department manages its
      own content: scientific programmes, scientific events, CNIO publications
      &amp; CNIO news, careers, etc.
    </p>
    <ul>
      <li>
        Client:
        <strong>Spanish National Cancer Research Centre</strong>
      </li>
      <li>
        Services:
        <strong
          >Graphic design, web development (ASP.NET Core, ASP.NET Framework MVC,
          classic ASP, PHP), accessibility, SEO, SEM</strong
        >
        (Google Adwords, publish ads with Google Ad Grants),
        <strong> online payment with credit card an Paypal</strong>
        (e-commerce). <strong>Social networks</strong>:
        <a href="https://twitter.com/CNIOStopCancer"
          >X (formerly Twitter) @CNIOStopCancer</a
        >,
        <a href="https://www.youtube.com/user/canalcnio">YouTube canalCNIO</a>
        and
        <a href="https://www.google.com/intl/es_es/business/"
          >Google My Bussines</a
        >.
        <strong>Website accessibility consulting for the level AA</strong>
        of the UNE 139803: 2012 Standard and the WCAG 2.0
      </li>
      <li>
        <strong
          ><a href="https://www.cnio.es"
            >Visit Spanish National Cancer Research Centre</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/cnio-store.avif" type="image/avif" />
      <source srcset="/images/cnio-store.webp" type="image/webp" />
      <img
        src="/images/cnio-store.jpg"
        class="img-responsive"
        alt="Screenshot of CNIO Store website"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>CNIO Store</h3>
    <p>
      Spanish National Cancer Research Centre store: books, T-shirts, stickers
      and packs. Website built using Prestashop. Online payment (e-commerce).
    </p>
    <ul>
      <li>
        Client:
        <strong>Spanish National Cancer Research Centre</strong>
      </li>
      <li>
        Services:
        <strong>Graphic design. Upgrade Prestashop 1.5 -&gt; 1.6</strong>
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <img
        src="/images/binomio.png"
        class="img-responsive"
        alt="Captura de pantalla de la web de binomio"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Binomio</h3>
    <p lang="es">Proyecto binomio, diálogos entre ciencia y arte</p>
    <ul>
      <li>
        Client:
        <strong>Spanish National Cancer Research Centre</strong>
      </li>
      <li>
        Services:
        <strong>Website accessibility consulting for the level AA</strong>
        of the UNE 139803: 2012 Standard and the WCAG 2.0
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.julioserrano.es/"
      title="Visit Julio Serrano"
      hreflang="es"
    >
      <picture>
        <source srcset="/images/julioserrano.avif" type="image/avif" />
        <source srcset="/images/julioserrano.webp" type="image/webp" />
        <img
          src="/images/julioserrano.jpg"
          class="img-responsive"
          alt="Screenshot of Julio Serrano website"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Julio Serrano: Photographer</h3>
    <p>Julio Serrano website with a customize content manager</p>
    <ul>
      <li>
        Client:
        <strong>Julio Serrano</strong>
      </li>
      <li>
        Services:
        <strong>Graphic design, web development (PHP)</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.julioserrano.es/" hreflang="es"
            >Visit Julio Serrano - Fotógrafo (in Spanish)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/otros-sitios-web.avif" type="image/avif" />
      <source srcset="/images/otros-sitios-web.webp" type="image/webp" />
      <img
        src="/images/otros-sitios-web.png"
        class="img-responsive"
        alt="Screenshots of other websites"
        width="710"
        height="590"
        loading="lazy"
      />
    </picture>
    <h3>Other websites</h3>
    <ul>
      <li>
        <a href="/mec2/index.htm" rel="nofollow" hreflang="es"
          >Newsletter: Cursos (in Spanish)</a
        >
      </li>
      <li>
        <a href="/mec/index.htm" rel="nofollow" hreflang="es"
          >Newsletter: Becas MEC (in Spanish)</a
        >
      </li>
      <li>
        <a href="/hcs" rel="nofollow"
          >High Content Analysis: Conference, Workshop &amp; Exhibition
          (restricted access)</a
        >
      </li>
      <li>
        <a href="/cardiovrep/index.php" rel="nofollow"
          >Cardiovrep (restricted access)</a
        >
      </li>
      <li>
        <a href="/ronarte/en/index.html" rel="nofollow">Rona Glantz</a>
      </li>
      <li>
        <a href="/decodetalle/index.html" rel="nofollow" hreflang="es"
          >Decodetalle (in Spanish)</a
        >
      </li>
      <li>
        <a href="/ongfuturohumano/index.php" rel="nofollow" hreflang="es"
          >Asociación Futuro Humano (in Spanish)</a
        >
      </li>
      <li>
        <a href="/ukpostdoc/index.html" rel="nofollow"
          >Postdoctoral Programme for British Scientists (restricted access)</a
        >
      </li>
    </ul>
  </div>
</section>
