<section id="proyectos">
  <h2>Proyectos</h2>
  <div class="proyecto">
    <a
      href="http://www.aleceia.com/es/"
      title="Ir a la web de Aleceia de Juan MCIL, MA, DPSI"
    >
      <picture>
        <source srcset="/images/aleceia.es.v2.avif" type="image/avif" />
        <source srcset="/images/aleceia.es.v2.webp" type="image/webp" />
        <img
          src="/images/aleceia.es.v2.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web de Aleceia de Juan MCIL, MA, DPSI"
          width="720"
          height="547"
          loading="lazy"
        />
      </picture>
    </a>
    <h3 lang="en">
      Aleceia de Juan MCIL, MA, DPSI. Servicios de Interpretación y Traducción
    </h3>
    <p>
      Web de Aleceia de Juan MCIL, MA, DPSI realizada con <strong>Astro</strong>
    </p>
    <ul class="item-details">
      <li>
        Cliente:
        <strong>Aleceia de Juan</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, maquetación, SEO,</strong> sitio web accesible
        para el <strong>nivel AA</strong> de la Norma UNE 139803:2012 y las <strong
          >WCAG 2.2.</strong
        >,
        <strong>WPO</strong> (Web Performance Optimization)
      </li>
      <li>
        <strong
          ><a href="http://www.aleceia.com/es/"
            >Ir a la web de Servicios de Interpretación y Traducción</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.julioserrano.es/libro-pedriza/"
      title="Ir a la web del libro de La Pedriza"
    >
      <picture>
        <source srcset="/images/libro-pedriza.avif" type="image/avif" />
        <source srcset="/images/libro-pedriza.webp" type="image/webp" />
        <img
          src="/images/libro-pedriza.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web del libro de La Pedriza"
          width="703"
          height="537"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Libro de fotografías de La Pedriza</h3>
    <p>
      Landing page del libro La Pedriza - Sierra de Guadarrama con 88
      fotografías de Julio Serrano.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Julio Serrano</strong>
      </li>
      <li>
        Servicios:
        <strong>Diseño, programación web, maquetación</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.julioserrano.es/libro-pedriza/"
            >Ir a la web del libro de La Pedriza</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.glykia.com"
      hreflang="fr"
      title="Ir a la web de Glykia"
    >
      <picture>
        <source srcset="/images/glykia.avif" type="image/avif" />
        <source srcset="/images/glykia.webp" type="image/webp" />
        <img
          src="/images/glykia.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web de Glykia"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Glykia</h3>
    <p>
      Web de Glykia De Juan realizada en el gestor de contenidos WordPress 6.x y
      el tema Twenty Twenty-Two utilizando el editor de bloques (Gutenberg).
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Glykia de Juan</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, maquetación, SEO,</strong> sitio web accesible
        para el <strong>nivel AA</strong> de la Norma UNE 139803:2012 y las <strong
          >WCAG 2.2.</strong
        >,
        <strong>WPO</strong> (Web Performance Optimization)
      </li>
      <li>
        <strong
          ><a href="https://www.glykia.com" hreflang="fr"
            >Ir a la web de Glykia (en francés)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.rehabilitadesdecasa.com/"
      title="Ir a la web de Rehabilita Desde Casa"
    >
      <picture>
        <source srcset="/images/rehabilitadesdecasa.avif" type="image/avif" />
        <source srcset="/images/rehabilitadesdecasa.webp" type="image/webp" />
        <img
          src="/images/rehabilitadesdecasa.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web Rehabilita desde casa"
          width="750"
          height="493"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Rehabilita Desde Casa</h3>
    <p>
      Web de rehabilitación online para pacientes cardiacos, respiratorios,
      oncológicos y reumatólogicos. Realizada en el gestor de contenidos
      WordPress y Divi Child.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Mercedes Coello</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, maquetación, SEO,</strong> sitio web accesible
        para el <strong>nivel AA</strong> de la Norma UNE 139803:2012 y las <strong
          >WCAG 2.1.</strong
        >
        <strong>Pagos online</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.rehabilitadesdecasa.com/"
            >Ir a la web Rehabilita Desde Casa</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a href="https://www.lolini.es" title="Ir a la web de Lolini">
      <picture>
        <source srcset="/images/lolini.avif" type="image/avif" />
        <source srcset="/images/lolini.webp" type="image/webp" />
        <img
          src="/images/lolini.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web de Lolini"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Lolini: yogures y alimentos artesanos</h3>
    <p>
      Web donde Lolini muestra sus productos naturales de elaboración propia.
      Sitio web creado con WordPress y Twenty Sixteen Child.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Lolini</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, maquetación, SEO</strong>, sitio web
        accesible para el <strong>nivel AA</strong> de la Norma UNE 139803:2012 y
        las <strong>WCAG 2.1.</strong>
      </li>
      <li>
        <strong><a href="https://www.lolini.es">Ir a la web Lolini</a></strong>
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.euromabnet.com"
      hreflang="en"
      title="Ir a la web de EuroMAbNet"
    >
      <picture>
        <source srcset="/images/euromabnet.avif" type="image/avif" />
        <source srcset="/images/euromabnet.webp" type="image/webp" />
        <img
          src="/images/euromabnet.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web de EuroMAbNet"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>EuroMAbNet</h3>
    <p>
      Web de la Red Europea de Anticuerpos Monoclonales (EuroMAbNet) con un
      gestor de contenidos realizado a medida.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>European Monoclonal Antibodies Network</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, programación web (PHP), SEO</strong>,
        <strong>formularios</strong> de inscripción a eventos y
        <strong>pagos online (tarjeta de crédito, PayPal, Stripe)</strong>
        realizados en WordPress con los plugins Caldera Forms y WPForms:
        <a href="https://www.euromabnet.com/meeting/" hreflang="en" lang="en"
          >EuroMAbNet Meeting forms</a
        >. Preparación y puesta en marcha de las
        <strong>redes sociales</strong>
        <a href="https://www.facebook.com/euromabnet">Facebook de EuroMAbNet</a>
        y
        <a href="https://www.youtube.com/euromabnet">YouTube de EuroMAbNet</a>
      </li>
      <li>
        <strong
          ><a href="https://www.euromabnet.com" hreflang="en"
            >Ir a la web de EuroMAbNet (en inglés)</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.parquenavasdelrey.org/"
      title="Ir a la web del Parque Navas del
  Rey"
    >
      <picture>
        <source srcset="/images/parquenavasdelrey.avif" type="image/avif" />
        <source srcset="/images/parquenavasdelrey.webp" type="image/webp" />
        <img
          src="/images/parquenavasdelrey.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web del Parque Navas del Rey"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Parque Navas del Rey</h3>
    <p>
      Web de la Asociación Parque Navas del Rey realizada en el gestor de
      contenidos Joomla 4.x.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Asociación Parque Navas del Rey</strong>
      </li>
      <li>
        Servicios:
        <strong>Diseño, maquetación</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.parquenavasdelrey.org/"
            >Ir a la web del Parque Navas del Rey</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/robertocanzobre.avif" type="image/avif" />
      <source srcset="/images/robertocanzobre.webp" type="image/webp" />
      <img
        src="/images/robertocanzobre.jpg"
        class="img-responsive"
        alt="Captura de pantalla de la web de Roberto Canzobre"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Roberto Canzobre - Abogado</h3>
    <p>
      Web del proyecto adaptándonos de Roberto Canzobre realizada en el gestor
      de contenidos WordPress y Divi Child.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Roberto Canzobre</strong>
      </li>
      <li>
        Servicios: <strong>Diseño, maquetación, SEO,</strong> sitio web accesible
        para el <strong>nivel AA</strong> de la Norma UNE 139803:2012 y las <strong
          >WCAG 2.1</strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/zumbaensegovia.avif" type="image/avif" />
      <source srcset="/images/zumbaensegovia.webp" type="image/webp" />
      <img
        src="/images/zumbaensegovia.jpg"
        class="img-responsive"
        alt="Captura de pantalla de la web de Zumba en Segovia"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Zumba en Segovia</h3>
    <p>
      Web de Carmen Martín para su proyecto de Zumba en Segovia realizada en el
      gestor de contenidos Joomla 1.5.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Carmen Martín</strong>
      </li>
      <li>
        Servicios:
        <strong
          >Migración Joomla 1.x -&gt; 2.5 -&gt; 3.x, páginas personalizadas</strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a
      href="https://www.cnio.es"
      title="Ir a la web del Centro Nacional de Investigaciones
  Oncológicas"
    >
      <picture>
        <source srcset="/images/cnio.avif" type="image/avif" />
        <source srcset="/images/cnio.webp" type="image/webp" />
        <img
          src="/images/cnio.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web del CNIO"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Centro Nacional de Investigaciones Oncológicas</h3>
    <p>
      Web corporativa en dos idiomas del Centro Nacional de Investigaciones
      Oncológicas (CNIO) con un gestor de contenidos realizado a la medida del
      cliente. Cada departamento gestiona sus propios contenidos: grupos de
      investigación, eventos científicos, publicaciones, ofertas de empleo, etc.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Centro Nacional de Investigaciones Oncológicas</strong>
      </li>
      <li>
        Servicios:
        <strong
          >Diseño, programación web (ASP.NET Core, ASP.NET Framework MVC, ASP
          Clásico, PHP), accesibilidad, SEO, SEM</strong
        >
        (Google Adwords, publicación de anuncios con Google Ad Grants),
        <strong> pasarelas de pago para tarjetas de crédito y PayPal</strong>
        (comercio electrónico). Preparación y puesta en marcha de las
        <strong>redes sociales</strong>:
        <a href="https://twitter.com/CNIOStopCancer"
          >X (antes Twitter) @CNIOStopCancer</a
        >,
        <a href="https://www.youtube.com/user/canalcnio">YouTube canalCNIO</a>
        y
        <a href="https://www.google.com/intl/es_es/business/"
          >Google My Bussines.</a
        >
        <strong>Consultoría de accesibilidad</strong> del sitio web para el <strong
          >nivel de adecuación AA</strong
        > de la Norma UNE 139803:2012 y las WCAG 2.0
      </li>
      <li>
        <strong
          ><a href="https://www.cnio.es"
            >Ir a la web del Centro Nacional de Investigaciones Oncológicas</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a href="https://store.cnio.es/" title="Ir a la CNIO Store">
      <picture>
        <source srcset="/images/cnio-store.avif" type="image/avif" />
        <source srcset="/images/cnio-store.webp" type="image/webp" />
        <img
          src="/images/cnio-store.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la CNIO Store"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>CNIO Store</h3>
    <p>
      Web en dos idiomas de la tienda online del Centro Nacional de
      Investigaciones Oncológicas donde se venden libros, camisetas, pegatinas,
      etc. realizada en el gestor de contenidos Prestashop. Pagos con tarjeta de
      crédito (comercio electrónico).
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Centro Nacional de Investigaciones Oncológicas</strong>
      </li>
      <li>
        Servicios:
        <strong>Diseño. Migración Prestashop 1.5 -&gt; 1.6</strong>
      </li>
      <li>
        <strong><a href="https://store.cnio.es/">Ir a la CNIO Store</a></strong>
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <img
        src="/images/binomio.png"
        class="img-responsive"
        alt="Captura de pantalla de la web de binomio"
        width="720"
        height="540"
        loading="lazy"
      />
    </picture>
    <h3>Binomio</h3>
    <p>
      Proyecto binomio, diálogos entre ciencia y arte del Centro Nacional de
      Investigaciones Oncológicas.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Centro Nacional de Investigaciones Oncológicas</strong>
      </li>
      <li>
        Servicios: <strong>Consultoría de accesibilidad</strong> del sitio web para
        el <strong>nivel de adecuación AA</strong> de la Norma UNE 139803:2012 y
        las WCAG 2.0
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <a href="https://www.julioserrano.es/" title="Ir a la web de Julio Serrano">
      <picture>
        <source srcset="/images/julioserrano.avif" type="image/avif" />
        <source srcset="/images/julioserrano.webp" type="image/webp" />
        <img
          src="/images/julioserrano.jpg"
          class="img-responsive"
          alt="Captura de pantalla de la web del fotógrafo Julio Serrano"
          width="720"
          height="540"
          loading="lazy"
        />
      </picture>
    </a>
    <h3>Julio Serrano: fotógrafo</h3>
    <p>
      Web del fotógrafo y artista visual Julio Serrano realizada a la medida del
      cliente.
    </p>
    <ul>
      <li>
        Cliente:
        <strong>Julio Serrano</strong>
      </li>
      <li>
        Servicios:
        <strong>Diseño, programación web (PHP), maquetación</strong>
      </li>
      <li>
        <strong
          ><a href="https://www.julioserrano.es/"
            >Ir a la web de Julio Serrano - Fotógrafo</a
          ></strong
        >
      </li>
    </ul>
  </div>
  <div class="proyecto">
    <picture>
      <source srcset="/images/otros-sitios-web.avif" type="image/avif" />
      <source srcset="/images/otros-sitios-web.webp" type="image/webp" />
      <img
        src="/images/otros-sitios-web.png"
        class="img-responsive"
        alt="Capturas de pantalla de tros sitios web"
        width="710"
        height="590"
        loading="lazy"
      />
    </picture>
    <h3>Otros sitios web</h3>
    <ul>
      <li>
        <a href="/mec2/index.htm" rel="nofollow">Newsletter: Cursos</a>
      </li>
      <li>
        <a href="/mec/index.htm" rel="nofollow">Newsletter: Becas MEC</a>
      </li>
      <li>
        <a href="/hcs" hreflang="en" rel="nofollow"
          >High Content Analysis: Conference, Workshop &amp; Exhibition (acceso
          restringido, en inglés)</a
        >
      </li>
      <li>
        <a href="/cardiovrep/index.php" hreflang="en" rel="nofollow"
          >Cardiovrep (acceso restringido, en inglés)</a
        >
      </li>
      <li>
        <a href="/ronarte/index.html" rel="nofollow">Rona Glantz</a>
      </li>
      <li>
        <a href="/decodetalle/index.html" rel="nofollow">Decodetalle</a>
      </li>
      <li>
        <a href="/ongfuturohumano/index.php" rel="nofollow"
          >Asociación Futuro Humano
        </a>
      </li>
      <li>
        <a href="/ukpostdoc/index.html" hreflang="en" rel="nofollow"
          >Postdoctoral Programme for British Scientists (acceso restringido, en
          inglés)</a
        >
      </li>
    </ul>
  </div>
</section>
